<div ng-controller="feedCtrl">

    <!--message and news feed flow-->
    <!--<div class="twelve wide column  main-body-feedflow" >-->
        <!--body header-->
        <h1 class="ui header">Latest Activity</h1>
        <div class="feed_flow">
            <div class="ui feed ">
                <div class="event">
                    <div class="label">
                        <img src="images/Sam.png">
                    </div>
                    <div class="content">

                        <div class="summary">
                            You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                    </div>
                </div>


                <div class="event">
                    <div class="label">
                        <img src="images/Sam.png">
                    </div>
                    <div class="content">

                        <div class="summary">
                            You added <a>Jenny Hess</a> to your <a>coworker</a> group.
                            <div class="date">
                                3 days ago
                            </div>
                        </div>
                    </div>
                </div>


                <div class="event">
                    <div class="label">
                        <i class="pencil icon"></i>
                    </div>
                    <div class="content">
                        <div class="summary">
                            You created your study set <a>Biology Chapter</a> wall.
                            <div class="date">Today</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    <!--</div>-->
</div>
